@import "variables";
@import "Loading";

.container {
    box-sizing: border-box;
    width: $containerWidth;
    margin: 0 auto;
    background-color: #fff;
}

.Header__section {
    background-color: $primaryColor;
    box-sizing: border-box;
    overflow: auto;

    .container {
        background: none;
    }

    .form {
        align-items: center;
        display: flex;
        margin: #{$headerHeightElements * 0.1} auto;

        .img {
            height: $headerHeightElements + 20px;
            margin-right: 20px;
        }

        .input {
            border: none;
            border-radius: 3px 0 0 3px;
            height: $headerHeightElements;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }

        .button {
            background-color: lighten($textColor, 60);
            border: none;
            height: $headerHeightElements;
            width: $headerHeightElements + 10px;
            fill: $textColor;
            cursor: pointer;

            &:hover {
                background-color: lighten($textColor, 50);
            }

            &:active {
                fill: #fff;
                background-color: lighten($textColor, 55);
            }
        }
    }
}

.ProductDetail__section {
    padding: 20px;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 20px;
    row-gap: 60px;

    .icon {
        height: 300px;
    }

    .details {
        justify-self: center;

        .sell {
            font-size: $fontExtraSmallSize;
        }

        .price {
            font-size: $fontExtraBigSize;
        }

        .buy {
            margin-top: 25px;
            display: block;
            width: 100%;
            padding: 7px;
            border: none;
            background-color: $complementaryColor;
            color: #fff;
            border-radius: 3px;
            font-size: $fontSmallSize;
            cursor: pointer;

            &:hover {
                background-color: darken($complementaryColor, 5);
            }
        }
    }

    .description {
        .description-title {
            font-size: $fontBigSize;
            margin-bottom: 20px;
        }

        .description-text {
            font-size: $fontSmallSize;
            white-space: pre-wrap;
        }
    }
}

.ProductList__section {
    padding: 10px 20px;

    .product {
        padding: 10px 0;
        text-decoration: none;
        color: $textColor;
        display: flex;

        &:not(:last-child) {
            border-bottom: solid 1px #eee;
        }

        &:last-child {
            padding: none;
        }

        .icon {
            margin-right: 20px;
        }

        .info {
            font-size: $fontBigSize;
            max-width: 60%;
        }

        .title {
            font-size: $fontExtraSmallSize;
            margin-top: 15px;
            display: block;
        }

        .new {
            font-size: $fontBigSize;
            color: rgb(34, 179, 8);
            margin-left: 2px;
        }

        .category {
            font-size: $fontExtraSmallSize;
            flex-grow: 2;
            text-align: end;
        }
    }
}

.EmptyList__section {
    display: flex;
    padding: 20px;

    .icon {
        margin-right: 40px;
    }

    .info {
        ul {
            margin-left: 30px;
            margin-top: 20px;
        }
    }
}


.Price__section {
    .decimals {
        font-size: calc(#{$fontExtraSmallSize} - 0.2em);
        vertical-align: super;
    }
}
